
body{
    background-color: black;
    font-fmaily: fantasy;
    color: orange;

}
.nav{
    font-family: fantasy;
    padding: 20px;
    border: 2rem;
    text-aling: center;
}
#section{
 
}
h1{
    font-family: fantasy;
    margin 20px
    padding 0px 
    

}
header{
    justify-content: align-right;

}
row{
    
}